/* BUTTON MAIN  */
.btn-main {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;

  color: var(--white, #fff);
  background: var(--active, #646afd);

  border: none;
  border-radius: 12px;

  min-height: 40px;

  transition: background-color var(--trans-time) var(--trans-func);
}
@media screen and (min-width: 768px) {
  .btn-main {
    border-radius: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-main {
    border-radius: 16px;
  }
}

.btn-main:hover {
  background: var(--hover, #8c90ff);
}

.btn-main:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.btn-main > svg {
  margin-right: 10px;
}

/* BUTTON SECONDARY */
.btn-scnd {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;

  color: var(--white, #fff);
  background: transparent;

  border: 1px solid var(--active-10, #646afd1a);
  /* border: 1px solid var(--opacity-50, rgba(255, 255, 255, 0.5)); */
  border-radius: 12px;

  min-height: 40px;

  transition: border-color var(--trans-time) var(--trans-func);
}
@media screen and (min-width: 768px) {
  .btn-scnd {
    border-radius: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-scnd {
    border-radius: 16px;
  }
}

.btn-scnd:hover {
  border-color: var(--hover, #8c90ff);
}

.btn-scnd:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.btn-scnd > svg {
  margin-right: 10px;
}

/* BUTTON ICON*/
.btn-icon-main {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white, #fff);
  background: var(--active, #646afd);

  border: none;
  border-radius: 16px;

  transition: background-color var(--trans-time) var(--trans-func);
}

.btn-icon-main:hover {
  background-color: var(--hover, #8c90ff);
}

.btn-icon-main:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* BUTTON SECONDARY ICON*/
.btn-icon-scnd {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--no-active, #60628f);
  background-color: transparent;

  border-radius: 12px;
  border: 1px solid var(--stroke, #ffffff1a);

  min-width: 40px;
  min-height: 40px;

  transition: border-color var(--trans-time) var(--trans-func);
}

.btn-icon-scnd:hover {
  border-color: var(--active, #646afd);
}

.btn-icon-scnd:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn-icon-scnd > svg {
  stroke: currentColor;
}

/* BUTTON ICON transparent*/
.btn-icon-trans {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--no-active, #60628f);
  background-color: transparent;

  border: none;

  min-width: 40px;
  min-height: 40px;

  transition: color var(--trans-time) var(--trans-func);
}

.btn-icon-trans:hover {
  color: var(--active, #646afd);
}

.btn-icon-trans:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn-icon-trans > svg {
  stroke: currentColor;
}

/* BUTTON ICON SECONDARY HEADER */
.btn-icon-scnd-header {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white, #fff);
  background: transparent;

  border-radius: 12px;
  border: 1px solid var(--active-10, #646afd1a);

  width: 48px;
  height: 48px;

  transition: border-color var(--trans-time) var(--trans-func);
}

.btn-icon-scnd-header:hover {
  border: 1px solid var(--hover, #8c90ff);
}

.btn-icon-scnd-header > svg {
  width: 24px;
  height: 24px;
}

/* BUTTON TEXT LINK */
.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-decoration-line: underline;

  color: var(--active, #646afd);
  background: transparent;

  border: none;

  min-height: 20px;

  transition: color var(--trans-time) var(--trans-func);
}

.btn-link:hover {
  color: var(--hover, #8c90ff);
}

.btn-link:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* ПРОВЕРИТЬ - НУЖНЫ ЛИ ? */

/* Slider Nav Button */
.btn-slider {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--no-active, #60628f);
  background: transparent;

  border: 1px solid var(--stroke, #ffffff1a);
  border-radius: 12px;

  width: 40px;
  height: 40px;

  transition: border-color var(--trans-time) var(--trans-func);
}

.btn-slider:hover {
  border-color: var(--hover, #8c90ff);
}

.btn-slider > svg {
  stroke: currentColor;
}
